.images {
  object-fit: contain;
  width: 12%;
  height: 100%;
  padding: 0px 70px;
}
.nav {
  height: 8vh;
  display: flex;
  position: fixed;
  z-index: 4;
  /* display: flex; */
  justify-content: space-between;
  transition: all 0.5s ease;
  align-items: center;
  width: 100vw;
}
.black {
  background-color: #111;
}
.user {
  height: 80%;
}
